

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>Packages for projects</title>
    
    <link rel="icon" href="../Assets/pix/logo.svg" type="svg+xml">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Assets/Css/Import.css">
    <script src='../Assets/scripts/globals.js' defer></script>
    <script src='../Assets/scripts/Includes/appbar.js' defer></script>
    <script src='../Assets/scripts/Includes/sidebar.js' defer></script>
</head>
<body>
    <app-bar></app-bar>
    <side-bar></side-bar>
    <app-home>
        <details>
            <summary>3D</summary>
            <ul>
                <li>com.unity.collab-proxy</li>
                <li>com.unity.feature.development</li>
                <li>com.unity.textmeshpro</li>
                <li>com.unity.timeline</li>
                <li>com.unity.visualscripting</li>
                <li>com.unity.ugui</li>
            </ul>
        </details>
        <details>
            <summary>3D Mobile</summary>
            <ul>
                <li>com.unity.collab-proxy</li>
                <li>com.unity.feature.mobile</li>
                <li>Rider Editor</li>
                <li>Visual Studio Editor</li>
                <li>Visual Studio Code Editor</li>
                <li>Test Framework</li>
                <li>TextMeshPro</li>
                <li>Timeline</li>
                <li>Unity UI</li>
                <li>com.unity.visualscripting</li>
            </ul>
        </details>
        <detais>
            <summary>2D</summary>
            <ul>
            </ul>
        </detais>
        <details>
            <summary>2D Mobile</summary>
            <ul>
                <li>com.unity.collab-proxy</li>
                <li>com.unity.feature.2d</li>
                <li>com.unity.feature.mobile</li>
                <li>Rider Editor</li>
                <li>Visual Studio Editor</li>
                <li>Visual Studio Code Editor</li>
                <li>Test Framework</li>
                <li>TextMeshPro</li>
                <li>Timeline</li>
                <li>Unity UI</li>
                <li>com.unity.visualscripting</li>
            </ul>
        </details>
        <detais>
            <summary>2D Platformer</summary>
            <ul>
            </ul>
        </detais>
        <details>
            <summary>Third Person</summary>
            <ul>
                <li>Cinemachine</li>
                <li>com.unity.collab-proxy</li>
                <li>com.unity.feature.development</li>
                <li>Input System</li>
                <li>Universal RP</li>
                <li>Timeline</li>
                <li>Unity UI</li>
            </ul>
        </details>
        <detais>
            <summary>FPS</summary>
            <ul>
            </ul>
        </detais>
        <detais>
            <summary>Karting</summary>
            <ul>
            </ul>
        </detais>
        <detais>
            <summary>Cinemathic</summary>
            <ul>
            </ul>
        </detais>
        <detais>
            <summary>VR</summary>
            <ul>
            </ul>
        </detais>


    </app-home>
</body>
</html>