

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>Unity Courses</title>
    
    <link rel="icon" href="https://cdn-icons-png.flaticon.com/512/5969/5969294.png" type="svg+xml">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="../Assets/Css/Import.css">
</head>
<body>
    <app-bar></app-bar>
    <side-bar></side-bar>
    <!-- <panel>
        <style>
            panel {
                display: block;
                background: linear-gradient(
                    to top right,
                    #c00 30%, #27f 100%
                );
                width: 350px;
                aspect-ratio: 16 / 9;
                padding: 4px;
                position: fixed;
                left: 25%;
                z-index: 99;
                clip-path: polygon(
                    0 14px, 14px 0, calc( 30% - 7px ) 0, 30% 7px, 70% 7px, calc( 70% + 7px ) 0, calc( 100% - 14px ) 0, 100% 14px,
                    100% calc( 100% - 14px ), calc( 100% - 14px ) 100%, calc( 70% + 7px ) 100%, calc( 70% - 7px ) calc( 100% - 7px ), calc( 30% + 7px ) calc( 100% - 7px ), calc( 30% - 7px ) 100%, 14px 100%, 0 calc( 100% - 14px )
                );
            } panel > overlay {
                display: grid;
                width: 100%;
                height: 100%;
                background: #000;
                clip-path: polygon(
                    0 14px, 14px 0, calc( 30% - 7px ) 0, 30% 7px, 70% 7px, calc( 70% + 7px ) 0, calc( 100% - 14px ) 0, 100% 14px,
                    100% calc( 100% - 14px ), calc( 100% - 14px ) 100%, calc( 70% + 7px ) 100%, calc( 70% - 7px ) calc( 100% - 7px ), calc( 30% + 7px ) calc( 100% - 7px ), calc( 30% - 7px ) 100%, 14px 100%, 0 calc( 100% - 14px )
                );
            }
        </style>
        <overlay></overlay>
    </panel> -->
    
    <app-home>
        <unity-assetstore name="Assetstore" link="https://assetstore.unity.com"></unity-assetstore>

        <t1> Unity Guides </t1>
        <card-gallery>
            <card-pix text="Aprenda Unity - 2D Definitivo">
                <source bg="https://img-b.udemycdn.com/course/240x135/1594508_aabd.jpg"
                url="https://www.udemy.com/course-dashboard-redirect/?course_id=1594508"
                />
            </card-pix>
            <card-pix text="Aprenda Unity - Mini Curso Desenvolvimento 2D">
                <source bg="https://img-b.udemycdn.com/course/240x135/2360188_4f84_2.jpg"
                url="https://www.udemy.com/course-dashboard-redirect/?course_id=2360188"
                />
            </card-pix>
            <card-pix text="Academia UNITY 2D - Produção de Jogos">
                <source bg="https://img-b.udemycdn.com/course/240x135/1321622_8b66_7.jpg"
                url="https://www.udemy.com/course-dashboard-redirect/?course_id=1321622"
                />
            </card-pix>
            <card-pix text="Jogos 2D com Unity + C# CURSO COMPLETO">
                <source bg="https://img-b.udemycdn.com/course/240x135/1088442_0150_2.jpg"
                url="https://www.udemy.com/course-dashboard-redirect/?course_id=1088442"
                />
            </card-pix>
            <card-pix text="Jogos 3D com Unity + modo multiplayer">
                <source bg="https://img-b.udemycdn.com/course/240x135/1345324_c1f5_10.jpg"
                url="https://www.udemy.com/course-dashboard-redirect/?course_id=1345324"
                />
            </card-pix>
            <card-pix text="O Guia Definitivo para Desenvolvimento de Jogos com Unity">
                <source bg="https://img-b.udemycdn.com/course/240x135/1410292_4da1_2.jpg"
                url="https://www.udemy.com/course/o-guia-definitivo-para-desenvolvimento-de-jogos-com-unity/"
                />
            </card-pix>
            <card-pix text="Desenvolvimento de jogos 3D com Unity 2017 + 2018">
                <source bg="https://img-b.udemycdn.com/course/240x135/1286932_859c_3.jpg"
                url="https://www.udemy.com/course-dashboard-redirect/?course_id=1286932"
                />
            </card-pix>
            <card-pix text="Jogos Digitais com Unity + C# + Modelagem e Animação 3D">
                <source bg="https://img-b.udemycdn.com/course/240x135/1781902_8fa6_5.jpg"
                url="https://www.udemy.com/course/unity-desenvolva-jogos-2d-e-3d-c-completo-modelagem-3d/"
                />
            </card-pix>
            <card-pix text="UNITY - Aprenda a criar jogos de plataforma 2D incríveis">
                <source bg="https://img-b.udemycdn.com/course/240x135/1543850_6b13.jpg" 
                url="https://www.udemy.com/course/unity-aprenda-a-criar-jogos-de-plataforma-2d-incriveis/"
                />
            </card-pix>
            <card-pix text="Curso de Programação C# com Unity">
                <source bg="https://img-b.udemycdn.com/course/240x135/2258068_4cb0.jpg"> </header>
                <l-u url="https://www.udemy.com/course-dashboard-redirect/?course_id=2258068"
                />
            </card-pix>
            <card-pix text="UNITY - Aprenda a criar jogos de plataforma 2D incríveis">
                <source bg="https://img-b.udemycdn.com/course/240x135/1543850_6b13.jpg"
                url="https://www.udemy.com/course-dashboard-redirect/?course_id=1543850"
                />
            </card-pix>
            <card-pix text="Unity - Crie sua própria janela de editor personalizada">
                <source bg="https://img-b.udemycdn.com/course/750x422/5062884_c5bf.jpg"
                url="https://www.udemy.com/course-dashboard-redirect/?course_id=5062884"
                />
            </card-pix>
            <card-pix text="Construção de cenários com Unity 3D + iluminação">
                <source bg="https://img-b.udemycdn.com/course/750x422/4886150_2d63_2.jpg"
                url="https://www.udemy.com/course-dashboard-redirect/?course_id=4886150"
                />
            </card-pix>
            <card-pix text="Unity 3D 2023 - Crie Games e Realidade Virtual Curso Básico">
                <source bg="https://img-b.udemycdn.com/course/750x422/5026346_ccdd.jpg"
                url="https://www.udemy.com/course/curso-basico-gratuito-de-unity-3d-em-portugues-br/"
                />
            </card-pix>
            <card-pix text="Aprenda rápido Unity3D">
                <source bg="https://img-b.udemycdn.com/course/750x422/1111306_96b6.jpg"
                url="https://www.udemy.com/course-dashboard-redirect/?course_id=1111306"
                />
            </card-pix>
            <card-pix text="Do ZERO ao Primeiro Jogo com Unity">
                <source bg="https://img-b.udemycdn.com/course/750x422/3292808_00f8_3.jpg"
                url="https://www.udemy.com/course-dashboard-redirect/?course_id=3292808"
                />
            </card-pix>
            <card-pix text="Unity 3D - Procedural Mesh Generation - The Basics">
                <source bg="https://img-b.udemycdn.com/course/240x135/3255022_7ebe_3.jpg"
                url="https://www.udemy.com/course-dashboard-redirect/?course_id=3255022"
                />
            </card-pix>
            <card-pix text="Construa Um Game Plataforma Unity 3D">
                <source bg="https://img-b.udemycdn.com/course/240x135/4886098_f6cf_4.jpg"
                url="https://www.udemy.com/course-dashboard-redirect/?course_id=4886098"
                />
            </card-pix>
            <card-pix text="Game Plataforma Profundo Com Unity 3d + C#.">
                <source bg="https://www.udemy.com/course-dashboard-redirect/?course_id=4884902"
                url="https://www.udemy.com/course-dashboard-redirect/?course_id=4884902"
                />
            </card-pix>
            <card-pix text="Aprenda a Fazer um Jogo 2D sem código em menos de 1 hora">
                <source bg="https://img-b.udemycdn.com/course/240x135/2395892_3fcb_4.jpg"
                url="https://www.udemy.com/course-dashboard-redirect/?course_id=2395892"
                />
            </card-pix>
            <card-pix text="Iluminação Profissional Unity 3D 2022">
                <source bg="https://img-b.udemycdn.com/course/240x135/4886342_9f32_2.jpg"
                url="https://www.udemy.com/course-dashboard-redirect/?course_id=4886342"
                />
            </card-pix>
            <card-pix text="Monetização para Games e Aplicativos Mobile">
                <source bg="https://img-b.udemycdn.com/course/240x135/839656_8d1c_8.jpg"
                url="https://www.udemy.com/course-dashboard-redirect/?course_id=839656"
                />
            </card-pix>
            <card-pix text="Introdução ao GAME DESIGN">
                <source bg="https://img-b.udemycdn.com/course/240x135/3839758_51cb_2.jpg"
                url="https://www.udemy.com/course-dashboard-redirect/?course_id=3839758"
                />
            </card-pix>
            <card-pix text="Nodes: Desenvolva materiais incríveis para seus jogos 3D">
                <source bg="https://img-b.udemycdn.com/course/240x135/3714206_ac8b_5.jpg"
                url="https://www.udemy.com/course-dashboard-redirect/?course_id=3714206"
                />
            </card-pix>
            <card-pix text="Modelagem 3D para Games">
                <source bg="https://img-b.udemycdn.com/course/240x135/1624796_cd79.jpg"
                url="https://www.udemy.com/course-dashboard-redirect/?course_id=1624796"
                />
            </card-pix>
            <card-pix text="Curso Básico de ZBrush">
                <source bg="https://img-b.udemycdn.com/course/240x135/3876998_3aa6_2.jpg"
                url="https://www.udemy.com/course-dashboard-redirect/?course_id=3876998"
                />
            </card-pix>
            <card-pix text="Aprenda Pixel Art e Crie Suas Próprias Artes para Jogos 2D">
                <source bg="https://img-b.udemycdn.com/course/240x135/3834780_8b5d_11.jpg"
                url="https://www.udemy.com/course-dashboard-redirect/?course_id=3834780"
                />
            </card-pix>
            <card-pix text="Substance Painter Sniper - Texturização para games AAA">
                <source bg="https://img-b.udemycdn.com/course/240x135/2283330_508b_5.jpg"
                url="https://www.udemy.com/course-dashboard-redirect/?course_id=3834780"
                />
            </card-pix>
            <card-pix text="Aprenda Pixel Art com passos Simples no Piskel">
                <source bg="https://img-b.udemycdn.com/course/240x135/3212783_993c_4.jpg"
                url="https://www.udemy.com/course-dashboard-redirect/?course_id=3212783"
                />
            </card-pix>
            <card-pix text="Crie seu primeiro Game Asset AAA">
                <source bg="https://img-b.udemycdn.com/course/240x135/2373906_607b.jpg"
                url="https://www.udemy.com/course-dashboard-redirect/?course_id=2373906"
                />
            </card-pix>
            <card-pix text="Inicie sua Carreira como Desenvolvedor de Games">
                <source bg="https://img-b.udemycdn.com/course/240x135/3557569_531e_2.jpg"
                url="https://www.udemy.com/course-dashboard-redirect/?course_id=3557569"
                />
            </card-pix>
            <card-pix text="Introdução ao BOLT: Criando jogos sem programação no Unity">
                <source bg="https://img-b.udemycdn.com/course/240x135/3368334_7876_6.jpg"
                url="https://www.udemy.com/course-dashboard-redirect/?course_id=3368334"
                />
            </card-pix>
            <card-pix text="Learn Level Design: Unity Basics in Under 2 Hours">
                <source bg="https://img-b.udemycdn.com/course/240x135/1074250_cc35_2.jpg"
                url="https://www.udemy.com/course-dashboard-redirect/?course_id=1074250"
                />
            </card-pix>
            <card-pix text="Self-driving go-kart with Unity-ML">
                <source bg="https://img-b.udemycdn.com/course/240x135/2132098_2b36.jpg"
                url="https://www.udemy.com/course-dashboard-redirect/?course_id=2132098"
                />
            </card-pix>
            <card-pix text="Unity Game Development - Build a First Person Shooter">
                <source bg="https://img-b.udemycdn.com/course/240x135/1137008_bf02.jpg"
                url="https://www.udemy.com/course-dashboard-redirect/?course_id=1137008"
                />
            </card-pix>
            <card-pix text="Create 3D Game Characters: No modeling or rigging required">
                <source bg="https://img-b.udemycdn.com/course/240x135/672890_47bf.jpg"
                url="https://www.udemy.com/course-dashboard-redirect/?course_id=672890"
                />
            </card-pix>
            <card-pix text="">
                <source bg=""
                url=""
                />
            </card-pix>
            cpix
        </card-gallery>

        <t1>YouTube</t1>
        <card-gallery>
            <card-pix text="Unity Learn Patways">
                <source bg="https://www.mcvuk.com/wp-content/uploads/yoyoopedfunjpg.jpg"
                url="https://learn.unity.com/tutorial/explore-a-microgame?uv=2019.4&pathwayId=5f7bcab4edbc2a0023e9c38f&missionId=5f77cc6bedbc2a4a1dbddc46&projectId=5fa1b1a1edbc2a001f612a3d#"
                />
            </card-pix>
            <card-pix text="Corgi Engine">
                <source bg="https://i.ytimg.com/vi/PrOzJBxjC3g/sddefault.jpg"
                url="https://corgi-engine-docs.moremountains.com/how-to-create-character.html"
                />
            </card-pix>
            <card-pix text="Coco code - Playlist">
                <source bg="https://i.ytimg.com/vi/xmR07iBW7zk/hqdefault.jpg"
                url="https://www.youtube.com/@CocoCode/playlists"
                />
            </card-pix>
            <card-pix text="2D Camera in Unity (Cinemachine Tutorial)">
                <source bg='https://i.ytimg.com/vi/2jTY11Am0Ig/hq720.jpg?sqp=-oaymwEjCOgCEMoBSFryq4qpAxUIARUAAAAAGAElAADIQj0AgKJDeAE=&rs=AOn4CLAGjXo801nOR7_z4EJbsv1PgJsRlQ'
                    url='https://www.youtube.com/watch?v=2jTY11Am0Ig'
                     />
            </card-pix>
            <card-pix text="2D CAMERA FOLLOW PLAYER IN UNITY 🎮 | Cinemachine 2D">
                <source bg='https://i.ytimg.com/vi/B6zwEv28pLQ/hq720.jpg?sqp=-oaymwEjCOgCEMoBSFryq4qpAxUIARUAAAAAGAElAADIQj0AgKJDeAE=&rs=AOn4CLCI0pheg0QDI38qiC2u9cLmar6VxQ'
                    url='https://www.youtube.com/watch?v=B6zwEv28pLQ'
                     />
            </card-pix>
            <card-pix text="Parallax Infinite Scrolling Background in Unity">
                <source bg='https://i.ytimg.com/an_webp/wBol2xzxCOU/mqdefault_6s.webp?du=3000&sqp=CLmuwp8G&rs=AOn4CLBMT3Jk7iIHGIUyYQvuxXPn6k8KQQ'
                    url='https://www.youtube.com/watch?v=wBol2xzxCOU'
                     />
            </card-pix>
            <card-pix text="Easily Control Cameras with Cinemachine in Unity!">
                <source bg='https://i.ytimg.com/vi/Ml8ptNeezsU/hq720.jpg?sqp=-oaymwEjCOgCEMoBSFryq4qpAxUIARUAAAAAGAElAADIQj0AgKJDeAE=&rs=AOn4CLAphLv4WjhLRJyn-ok-58De9tOlVg'
                    url='https://www.youtube.com/watch?v=Ml8ptNeezsU&t=143s'
                     />
            </card-pix>
            <card-pix text="2D Camera in Unity + Confining to bounds [Cinemachine]">
                <source bg='https://i.ytimg.com/vi/xxshfe3yzqA/hq720.jpg?sqp=-oaymwEjCOgCEMoBSFryq4qpAxUIARUAAAAAGAElAADIQj0AgKJDeAE=&rs=AOn4CLBZXiTwQW2uTLGvfCWVIuy6djAJAw'
                    url='https://www.youtube.com/watch?v=xxshfe3yzqA'
                     />
            </card-pix>
        </card-gallery>

        <t1>Input system</t1>
        <card-gallery>
            <card-pix text="TOUCH CONTROLS in Unity!">
                <source bg="https://i.ytimg.com/vi/bp2PiFC9sSs/sddefault.jpg"
                url="https://www.youtube.com/watch?v=bp2PiFC9sSs&t=425s"
                />
            </card-pix>
            <card-pix text="Input management tutorial">
                <source bg="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQEv4dwgLeaMp4SFOarx-qGgLZ15BkPm4elvA&usqp=CAU"
                url="https://corgi-engine-docs.moremountains.com/recipes.html#adding-a-repositionable-mobile-joystick-in-place-of-the-regular"
                />
            </card-pix>
            <card-pix text="Unity's NEW Input System">
                <source bg='https://i.ytimg.com/vi/m5WsmlEOFiA/hqdefault.jpg?sqp=-oaymwEiCKgBEF5IWvKriqkDFQgBFQAAAAAYASUAAMhCPQCAokN4AQ==&rs=AOn4CLDln60N-E5mTjJKWUvAOLj0sKNAXQ'
                    url='https://www.youtube.com/playlist?list=PLKUARkaoYQT2nKuWy0mKwYURe2roBGJdr'
                     />
            </card-pix>
            <card-pix text="Mobile input/touch control for your Unity game">
                <source bg="https://i.ytimg.com/vi/NqrJHj9xlqY/sddefault.jpg"
                url="https://www.youtube.com/watch?v=NqrJHj9xlqY"
                />
            </card-pix>
            <card-pix text="Como usar o NOVO Sistema de Entradas da Unity | Teclado, Mouse, Touch, Gamepad">
                <source bg="https://i.ytimg.com/vi/zhi14HpKqnU/sddefault.jpg"
                url="https://www.youtube.com/watch?v=zhi14HpKqnU"
                />
            </card-pix>
            <card-pix text="How to use TOUCH with the Input System in Unity">
                <source bg="https://i.ytimg.com/vi/4MOOitENQVg/sddefault.jpg"
                url="https://www.youtube.com/watch?v=4MOOitENQVg"
                />
            </card-pix>
        </card-gallery>

        <t1>free assets</t1>
        <t2>Open in only incognito mode</t2>
        <card-gallery>
            <card-pix text="Nice-touch">
                <source bg="https://i.pinimg.com/736x/21/1b/b9/211bb917a7d492e39da4e63950e35473--corgis-super-easy.jpg"
                url="https://unityassets4free.com/nice-touch/"
                />
            </card-pix>
            <card-pix text="virtual-joystick-texture-volume-1">
                <source bg="https://unityassets4free.com/wp-content/uploads/2020/04/Virtual-Joystick-Texture-Volume-1-300x226-1.jpg"
                url="https://unityassets4free.com/virtual-joystick-texture-volume-1/"
                />
            </card-pix>
            <card-pix text="control-freak-2-touch-input-made-easy">
                <source bg="https://unityassets4free.com/wp-content/uploads/2020/02/Control-Freak-2-Touch-Input-Made-Easy-300x226-1.jpg"
                url="https://unityassets4free.com/control-freak-2-touch-input-made-easy/"
                />
            </card-pix>
            <card-pix text="cinput-pro">
                <source bg="https://unityassets4free.com/wp-content/uploads/2021/01/cInput-Pro.jpg"
                url="https://unityassets4free.com/cinput-pro/"
                />
            </card-pix>
            <card-pix text="third-person-engine">
                <source bg="https://unityassets4free.com/wp-content/uploads/2021/09/third-person-engine-e1631285937178.jpg"
                url="https://unityassets4free.com/third-person-engine/"
                />
            </card-pix>
            <card-pix text="develop combat game for 2 players">
                <source bg="https://unityassets4free.com/wp-content/uploads/2022/02/develop-combat-game-for-2-players-in-45-minutes-e1645160064806.jpg"
                url="https://unityassets4free.com/develop-combat-game-for-2-players-in-45-minutes/2/"
                />
            </card-pix>
            <card-pix text="Strange Engine – 2D Top Down Kit">
                <source bg="https://unityassets4free.com/wp-content/uploads/2021/08/ezgif.com-gif-maker-17-e1628346591438.jpg"
                url="https://unityassets4free.com/strange-engine-2d-top-down-kit/"
                />
            </card-pix>
            <card-pix text="Lean Touch+">
                <source bg="https://unityassets4free.com/wp-content/uploads/2020/06/Lean-Touch-300x200-2.jpg"
                url="https://unityassets4free.com/lean-touch/"
                />
            </card-pix>
            <card-pix text="Game Kit Controller">
                <source bg="https://unityassets4free.com/wp-content/uploads/2020/02/Game-Kit-Controller-1.jpg"
                url="https://unityassets4free.com/game-kit-controller/"
                />
            </card-pix>
            <card-pix text="Game Kit Controller">
                <source bg="" 
                url="https://unityassets4free.com/game-kit-controller/"
                />
            </card-pix>
            <card-pix text="Super Multiplayer Shooter Template">
                <source bg="https://unityassets4free.com/wp-content/uploads/2020/08/super-multiplayer-shooter-template-e1598346092110.jpg" 
                url="https://ddownload.com/ymeybr0tysg9/Super_Multiplayer_Template1.4.unitypackage">
                />
            </card-pix>
            <card-pix text="OneRig – VR Rig Builder">
                <source bg="https://unityassets4free.com/wp-content/uploads/2023/01/onerig-vr-rig-builder-e1673251125884.webp" 
                url="https://unityassets4free.com/onerig-vr-rig-builder/2/"
                />
            </card-pix>
            <card-pix text="Jumping Shadows – 2D Runner (90+ levels)">
                <source bg="https://unityassets4free.com/wp-content/uploads/2023/01/jumping-shadows-2d-runner-90-levels-e1673973665270.webp" 
                url="https://unityassets4free.com/jumping-shadows-2d-runner-90-levels/2/"
                />
            </card-pix>
            <card-pix text="Character Creator 2D">
                <source bg="https://unityassets4free.com/wp-content/uploads/2020/01/character-creator-2d.jpg" 
                url="https://shorturl.unityassets4free.com/wIzE"
                />
            </card-pix>
            <card-pix text="KUBIKOS – World">
                <source bg="https://unityassets4free.com/wp-content/uploads/2020/02/KUBIKOS-World-2.jpg" 
                url="https://unityassets4free.com/kubikos-world/2/"
                />
            </card-pix>
            <card-pix text="Battle Arena – Cartoon Assets">
                <source bg="https://unityassets4free.com/wp-content/uploads/2020/10/Battle-Arena-Cartoon-Assets-300x226-1.jpg" 
                url="https://unityassets4free.com/battle-arena-cartoon-assets/2/"
                />
            </card-pix>
            <card-pix text="Rock and Boulders 3 ">
                <source bg="https://unityassets4free.com/wp-content/uploads/2020/07/rock-and-boulders-3-45643.jpg" 
                url="https://unityassets4free.com/rock-and-boulders-3/2/"
                />
            </card-pix>
            <card-pix text="Mech Constructor: Heavy Robot">
                <source bg="https://unityassets4free.com/wp-content/uploads/2020/09/mech-constructor-heavy-robot-e1599581558364.jpg" 
                url="https://unityassets4free.com/mech-constructor-heavy-robot/2/"
                />
            </card-pix>
            <card-pix text="Monsters Ultimate Pack 01 Cute Series v1.0">
                <source bg="https://unityassetcollection.com/wp-content/uploads/2020/12/Monsters-Ultimate-Pack-01-Cute-Series-300x200.jpg" 
                url="https://unityassetcollection.com/monsters-ultimate-pack-01-cute-series-free-download/"
                />
            </card-pix>
            <card-pix text="Monsters Ultimate Pack 04 Cute Series v1.0">
                <source bg="https://unityassetcollection.com/wp-content/uploads/2022/10/Monsters-Ultimate-Pack-04-Cute-Series-300x198.png" 
                url="https://unityassetcollection.com/monsters-ultimate-pack-04-cute-series-free-download/"
                />
            </card-pix>
            <card-pix text="">
                <source bg="" 
                url=""
                />
            </card-pix>
        <card-pix text="Asset Poly Few | Mesh Simplifier and Auto LOD Generator v7.67">
                <source bg='https://gfxfather.com/wp-content/uploads/2023/01/Unity-Asset-Poly-Few-Mesh-Simplifier-and-Auto-LOD-Generator-v7.67.jpg'
                    url='https://gfxfather.com/unity-asset-poly-few-mesh-simplifier-and-auto-lod-generator-v7-67/'
                     />
            </card-pix>
            <card-pix text="Udemy 2D Platformer Game In Unity With Playmaker And Touch Control">
                <source bg='https://gfxfather.com/wp-content/uploads/2023/02/Udemy-2D-Platformer-Game-In-Unity-With-Playmaker-And-Touch-Control.jpg'
                    url='https://gfxfather.com/udemy-2d-platformer-game-in-unity-with-playmaker-and-touch-control/'
                     />
            </card-pix>
            <card-pix text="Udemy Make a fighting game in Unity">
                <source bg='https://gfxfather.com/wp-content/uploads/2023/01/Udemy-Make-a-fighting-game-in-Unity-1.jpg'
                    url='https://gfxfather.com/udemy-make-a-fighting-game-in-unity/'
                     />
            </card-pix>
            <card-pix text="Unity Asset UMotion Pro Animation Editor v1.29p01">
                <source bg='https://gfxfather.com/wp-content/uploads/2023/01/packagestoolsanimationumotion-pro-animation-.jpg'
                    url='https://gfxfather.com/unity-asset-umotion-pro-animation-editor-v1-29p01/'
                     />
            </card-pix>
            <card-pix text="Unity Assets Low Poly Restaurant v1.1">
                <source bg='https://gfxfather.com/wp-content/uploads/2023/01/Unity-Assets-Low-Poly-Restaurant-v1.1.jpg'
                    url='https://gfxfather.com/unity-assets-low-poly-restaurant-v1-1/'
                     />
            </card-pix>
            <card-pix text="Unity Asset Databox – Data editor & save solution v1.4">
                <source bg='https://gfxfather.com/wp-content/uploads/2023/01/Unity-Asset-Databox-Data-editor-save-solution-v1.4.jpg'
                    url='https://gfxfather.com/unity-asset-databox-data-editor-save-solution-v1-4/'
                     />
            </card-pix>
            <card-pix text="Unity Asset Global Illumination Proxy v1.7.3a">
                <source bg='https://gfxfather.com/wp-content/uploads/2023/01/Unity-Asset-Global-Illumination-Proxy-v1.7.3a.jpg'
                    url='https://gfxfather.com/unity-asset-global-illumination-proxy-v1-7-3a/'
                     />
            </card-pix>
            <card-pix text="Unity Assets Prefab World Builder v3.3.2">
                <source bg='https://gfxfather.com/wp-content/uploads/2023/01/Unity-Assets-Prefab-World-Builder-v3.3.jpg'
                    url='https://gfxfather.com/unity-assets-prefab-world-builder-v3-3-2/'
                     />
            </card-pix>
            <card-pix text="Unity Assets Third Person Motion Controller v2.812">
                <source bg='https://gfxfather.com/wp-content/uploads/2022/09/Unity-Asset-Third-Person-Motion-Controller-v2.810.jpg'
                    url='https://gfxfather.com/unity-assets-third-person-motion-controller-v2-812/'
                     />
            </card-pix>
            <card-pix text="Unity Assets UModeler – Model your World v2.9.21">
                <source bg='https://gfxfather.com/wp-content/uploads/2022/09/Unity-Asset-UModeler-Model-your-World-v2.9.17-1.jpg'
                    url='https://gfxfather.com/unity-assets-umodeler-model-your-world-v2-9-21/'
                     />
            </card-pix>
            <card-pix text="Unity Assets Low Poly Paradise Islands v1.0">
                <source bg='https://gfxfather.com/wp-content/uploads/2023/01/Unity-Assets-Low-Poly-Paradise-Islands-v1.0.jpg'
                    url='https://gfxfather.com/unity-assets-low-poly-paradise-islands-v1-0/'
                     />
            </card-pix>
            <card-pix text="Unity Assets Military Base Asset Pack v1.0">
                <source bg='https://gfxfather.com/wp-content/uploads/2023/01/Unity-Assets-Military-Base-Asset-Pack-v1.0.jpg'
                    url='https://gfxfather.com/unity-assets-military-base-asset-pack-v1-0/'
                     />
            </card-pix>
            <card-pix text="Unity Asset Background Pack 02 – Magic Forest v1.0">
                <source bg='https://gfxfather.com/wp-content/uploads/2023/01/Unity-Asset-Background-Pack-02-Magic-Forest-v1.0.jpg'
                    url='https://gfxfather.com/unity-asset-background-pack-02-magic-forest-v1-0/'
                     />
            </card-pix>
            <card-pix text="Unity Asset Blaze AI Engine v2.2.5">
                <source bg='https://gfxfather.com/wp-content/uploads/2023/01/Unity-Asset-Blaze-AI-Engine-v2.2.5.jpg'
                    url='https://gfxfather.com/unity-asset-blaze-ai-engine-v2-2-5/'
                     />
            </card-pix>
            <card-pix text="Unity Asset Character Creator 2D v1.94">
                <source bg='https://gfxfather.com/wp-content/uploads/2023/01/Unity-Asset-Character-Creator-2D-v1.94.jpg'
                    url='https://gfxfather.com/unity-asset-character-creator-2d-v1-94/'
                     />
            </card-pix>
            <card-pix text="Unity Asset Simple Boxes for Platformers v2.1">
                <source bg='https://gfxfather.com/wp-content/uploads/2023/01/Unity-Asset-Simple-Boxes-for-Platformers-v2.1.jpg'
                    url='https://gfxfather.com/unity-asset-simple-boxes-for-platformers-v2-1/'
                     />
            </card-pix>
            <card-pix text="Unity Assets Couples Anim Pack v1.0">
                <source bg='https://gfxfather.com/wp-content/uploads/2023/01/Unity-Assets-Couples-Anim-Pack-v1.0.jpg'
                    url='https://gfxfather.com/unity-assets-couples-anim-pack-v1-0/'
                     />
            </card-pix>
            <card-pix text="">
                <source bg=''
                    url=''
                     />
            </card-pix>
            <card-pix text="">
                <source bg=''
                    url=''
                     />
            </card-pix>
            <card-pix text="">
                <source bg=''
                    url=''
                     />
            </card-pix>
            <card-pix text="">
                <source bg=''
                    url=''
                     />
            </card-pix>
            <card-pix text="">
                <source bg=''
                    url=''
                     />
            </card-pix>
            <card-pix text="">
                <source bg=''
                    url=''
                     />
            </card-pix>
            <card-pix text="">
                <source bg=''
                    url=''
                     />
            </card-pix>
            <card-pix text="">
                <source bg=''
                    url=''
                     />
            </card-pix>
            <card-pix text="">
                <source bg=''
                    url=''
                     />
            </card-pix>
        </card-gallery>
    </app-home>
    
    <script>
        'use strict';
        /* [ properties ]
        =================================== */
        const $ = v => document.querySelector( v ),
            $$ = v => document.querySelectorAll( v ),
            log = v => console.log( v );
        /* -------------------------------- */

        let linkTemplate = `<l url=""></p>`;

        /* [ link template ]
        ===============================================================================*/
        class Link extends HTMLElement {
            constructor() {
                super();
                let link = document.createElement( "template" );
                link.innerHTML = linkTemplate;
                this.attachShadow( { mode: "open" } );
                this.shadowRoot.append( link.content.cloneNode( true ) );
                log( "oi" + this.innerHTML );
                if( this.innerHTML == "" ) {
                    this.shadowRoot.querySelector("[url]").innerHTML = this.getAttribute("url");
                } else {
                    this.shadowRoot.querySelector("[url]").innerHTML = this.innerHTML;
                }
                // this.shadowRoot.querySelector( "[url]" ).innerHTML = this.getAttribute( "url" );
            } 
            connectedCallback() {
                // console.log( this.getAttribute( "[url]" ) );
                this.render();
                let lUs = $$( '[url]' );

                lUs.forEach( link => link.addEventListener( 'click', ev => {
                    window.open( link.getAttribute( 'url' ), '_blank' );
                } ) );
            }
            render() {
            }
        }
        window.customElements.define( "l-u", Link );



        /* [ events ]
        =================================== */
        window.addEventListener( 'load', ev => {
            let links = $$( '[link]' ),
            bgs = $$( "[bg]" );


            links.forEach( link => link.addEventListener( 'click', ev => {
                window.open( link.getAttribute( 'link' ), '_blank' );
            } ) );

            bgs.forEach( p => {
                p.style.backgroundImage = `url( ${p.getAttribute( "bg" )} )`;
                p.addEventListener( "click", ev => {
                    window.open( p.getAttribute( 'url' ), '_blank' );
                } );
            } );

        } );
        
    </script>
</body>
</html>

<script>
    buttonAnimator(
        parameters( bool[ Disabled, Idle, Pressed ] ),
        anyState( Disabled ),
        Entry( Idle ),

        Disabled( Idle, { 
            HET: true, 
            ET: .75,
            FD: true,
            TD: .25,
            IS: None,
            C: { Disabled: false },
        } ),
        Idle( PressedFirstTime, {
            HET: false,
            FD: false,
            TD: .01,
            IS: NextState,
            C: { Pressed: true },
        } ),
        PressedFirstTime( Pressed, {
            HET: true,
            ET: 1,
            FD: false,
            TD: .01,
            IS: None,
            C: {},
        } ),
        Pressed( Released, {
            HET: false,
            FD: false,
            TD: .01,
            IS: NextState,
            C: { Pressed: false },
        } ),
        Released( Idle, {
            HET: false,
            FD: false,
            TD: .01,
            IS: NextState,
            C: { Idle: true },
        } )
    );
</script>




